.fade-enter {
    opacity: 0;
    height: 0px;
  }
  
  .fade-enter-active {
    opacity: 1;
    transition: opacity 100ms ease-in;
    height: 100%;
  }
  
  .fade-exit {
    opacity: 1;
    height: 100%;
  }
  
  .fade-exit-active {
    opacity: 0;
    height: 0px;
    transition: opacity 100ms ease-out;
  }