services:
  cs:
    image: cs:latest
    environment:
      - NODE_ENV=development
    build:
      dockerfile: ./docker/Dockerfile.cs
      context: ./
      target: development
    profiles:
      - cs
    restart: unless-stopped
    volumes:
      - type: bind
        source: ./apps/cs/
        target: /usr/src/app/
      - type: volume
        target: /usr/src/app/node_modules
      - type: bind
        source: ./packages/icons
        target: /usr/src/app/packages/icons
      - type: bind
        source: ./packages/mathml
        target: /usr/src/app/packages/mathml
      - type: bind
        source: ./packages/math-parser
        target: /usr/src/app/packages/math-parser
      - type: bind
        source: ./packages/string-utils
        target: /usr/src/app/packages/string-utils
      - type: bind
        source: ./packages/regex
        target: /usr/src/app/packages/regex
      - type: bind
        source: ./packages/dynatic-css
        target: /usr/src/app/packages/dynatic-css
      - type: bind
        source: ./packages/dynatic-css-utils
        target: /usr/src/app/packages/dynatic-css-utils
      - type: bind
        source: ./packages/router
        target: /usr/src/app/packages/router
      - type: bind
        source: ./packages/utils
        target: /usr/src/app/packages/utils
      - type: bind
        source: ./packages/url
        target: /usr/src/app/packages/url
      - type: bind
        source: ./packages/environment
        target: /usr/src/app/packages/environment
      - type: bind
        source: ./packages/hooks
        target: /usr/src/app/packages/hooks
      - type: bind
        source: ./packages/array-utils
        target: /usr/src/app/packages/array-utils
      - type: bind
        source: ./packages/object-utils
        target: /usr/src/app/packages/object-utils
      - type: bind
        source: ./packages/parse-typescript
        target: /usr/src/app/packages/parse-typescript
      - type: bind
        source: ./packages/sidebar
        target: /usr/src/app/packages/sidebar
      - type: bind
        source: ./packages/animation-container
        target: /usr/src/app/packages/animation-container
      - type: bind
        source: ./packages/is-dev
        target: /usr/src/app/packages/is-dev
      - type: bind
        source: ./packages/button
        target: /usr/src/app/packages/button
      - type: bind
        source: ./packages/tooltip
        target: /usr/src/app/packages/tooltip
      - type: bind
        source: ./packages/randomizer
        target: /usr/src/app/packages/randomizer
      - type: bind
        source: ./packages/edge-intersection
        target: /usr/src/app/packages/edge-intersection
      - type: bind
        source: ./packages/element-utils
        target: /usr/src/app/packages/element-utils
      - type: bind
        source: ./packages/calculate-relative-position
        target: /usr/src/app/packages/calculate-relative-position
      - type: bind
        source: ./packages/collapsible
        target: /usr/src/app/packages/collapsible
      - type: bind
        source: ./packages/auto-complete-input
        target: /usr/src/app/packages/auto-complete-input
      - type: bind
        source: ./packages/typeahead
        target: /usr/src/app/packages/typeahead
      - type: bind
        source: ./packages/input
        target: /usr/src/app/packages/input
      - type: bind
        source: ./packages/loading
        target: /usr/src/app/packages/loading
      - type: bind
        source: ./packages/virtual-list
        target: /usr/src/app/packages/virtual-list
      - type: bind
        source: ./packages/table
        target: /usr/src/app/packages/table
      - type: bind
        source: ./packages/pagination
        target: /usr/src/app/packages/pagination
      - type: bind
        source: ./packages/copy-to-clipboard
        target: /usr/src/app/packages/copy-to-clipboard
      - type: bind
        source: ./packages/calculations-table
        target: /usr/src/app/packages/calculations-table
      - type: bind
        source: ./packages/title
        target: /usr/src/app/packages/title
      - type: bind
        source: ./packages/syntax-highlighter
        target: /usr/src/app/packages/syntax-highlighter
      - type: bind
        source: ./packages/parse-yaml
        target: /usr/src/app/packages/parse-yaml
      - type: bind
        source: ./packages/ui-theme
        target: /usr/src/app/packages/ui-theme
      - type: bind
        source: ./packages/css-utils
        target: /usr/src/app/packages/css-utils
      - type: bind
        source: ./packages/radio-button
        target: /usr/src/app/packages/radio-button
      - type: bind
        source: ./packages/scrollspy-anchors
        target: /usr/src/app/packages/scrollspy-anchors
      - type: bind
        source: ./packages/breadcrumbs
        target: /usr/src/app/packages/breadcrumbs
      - type: bind
        source: ./packages/binary
        target: /usr/src/app/packages/binary
      - type: bind
        source: ./packages/myers-visualizer
        target: /usr/src/app/packages/myers-visualizer
      - type: bind
        source: ./packages/canvas-utils
        target: /usr/src/app/packages/canvas-utils
      - type: bind
        source: ./packages/math
        target: /usr/src/app/packages/math
      - type: bind
        source: ./packages/request-animation-frame
        target: /usr/src/app/packages/request-animation-frame
      - type: bind
        source: ./dev-packages/dynatic-css-vite-plugin
        target: /usr/src/app/dev-packages/dynatic-css-vite-plugin
      - type: bind
        source: ./dev-packages/dynatic-css-typescript-parser
        target: /usr/src/app/dev-packages/dynatic-css-typescript-parser
      - type: bind
        source: ./dev-packages/typescript-file-manipulation
        target: /usr/src/app/dev-packages/typescript-file-manipulation
      - type: bind
        source: ./dev-packages/recursive-import-iteration
        target: /usr/src/app/dev-packages/recursive-import-iteration
      - type: bind
        source: ./packages/import-parser
        target: /usr/src/app/packages/import-parser
      - type: bind
        source: ./packages/export-parser
        target: /usr/src/app/packages/export-parser
      - type: bind
        source: ./apps/vite-client/vite.config.ts
        target: /usr/src/app/vite.config.ts
    networks:
      - frontend
    ports:
      - 5173:5173
    depends_on: 
  express-backend:
    image: express-backend:latest
    environment:
      - NODE_ENV=development
      - CHOKIDAR_INTERVAL=1000
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    build:
      dockerfile: ./docker/Dockerfile.express-backend
      context: ./
      target: development
    profiles:
      - express-backend
      - vite-client-e2e
    restart: unless-stopped
    volumes:
      - type: bind
        source: ./apps/express-backend/
        target: /usr/src/app/
      - type: volume
        target: /usr/src/app/node_modules
      - type: bind
        source: ./packages/express-postgres-db
        target: /usr/src/app/packages/express-postgres-db
      - type: bind
        source: ./packages/postgresql
        target: /usr/src/app/packages/postgresql
    networks:
      - backend
    ports:
      - 3002:3002
    depends_on:
      - express-backend-postgresql
  js-to-yaml:
    image: js-to-yaml:latest
    environment:
      - NODE_ENV=development
    build:
      dockerfile: ./docker/Dockerfile.js-to-yaml
      context: ./
      target: development
    profiles:
      - js-to-yaml
    restart: unless-stopped
    volumes:
      - type: bind
        source: ./apps/js-to-yaml/
        target: /usr/src/app/
      - type: volume
        target: /usr/src/app/node_modules
      - type: bind
        source: ./packages/router
        target: /usr/src/app/packages/router
      - type: bind
        source: ./packages/utils
        target: /usr/src/app/packages/utils
      - type: bind
        source: ./packages/url
        target: /usr/src/app/packages/url
      - type: bind
        source: ./packages/environment
        target: /usr/src/app/packages/environment
      - type: bind
        source: ./packages/hooks
        target: /usr/src/app/packages/hooks
      - type: bind
        source: ./packages/array-utils
        target: /usr/src/app/packages/array-utils
      - type: bind
        source: ./packages/object-utils
        target: /usr/src/app/packages/object-utils
      - type: bind
        source: ./packages/parse-typescript
        target: /usr/src/app/packages/parse-typescript
      - type: bind
        source: ./packages/string-utils
        target: /usr/src/app/packages/string-utils
      - type: bind
        source: ./packages/regex
        target: /usr/src/app/packages/regex
      - type: bind
        source: ./packages/icons
        target: /usr/src/app/packages/icons
      - type: bind
        source: ./packages/button
        target: /usr/src/app/packages/button
      - type: bind
        source: ./packages/dynatic-css
        target: /usr/src/app/packages/dynatic-css
      - type: bind
        source: ./packages/dynatic-css-utils
        target: /usr/src/app/packages/dynatic-css-utils
      - type: bind
        source: ./packages/syntax-highlighter
        target: /usr/src/app/packages/syntax-highlighter
      - type: bind
        source: ./packages/parse-yaml
        target: /usr/src/app/packages/parse-yaml
      - type: bind
        source: ./packages/element-utils
        target: /usr/src/app/packages/element-utils
      - type: bind
        source: ./packages/copy-to-clipboard
        target: /usr/src/app/packages/copy-to-clipboard
      - type: bind
        source: ./packages/tooltip
        target: /usr/src/app/packages/tooltip
      - type: bind
        source: ./packages/animation-container
        target: /usr/src/app/packages/animation-container
      - type: bind
        source: ./packages/is-dev
        target: /usr/src/app/packages/is-dev
      - type: bind
        source: ./packages/randomizer
        target: /usr/src/app/packages/randomizer
      - type: bind
        source: ./packages/edge-intersection
        target: /usr/src/app/packages/edge-intersection
      - type: bind
        source: ./packages/calculate-relative-position
        target: /usr/src/app/packages/calculate-relative-position
      - type: bind
        source: ./dev-packages/yaml
        target: /usr/src/app/dev-packages/yaml
      - type: bind
        source: ./packages/alert
        target: /usr/src/app/packages/alert
      - type: bind
        source: ./packages/card
        target: /usr/src/app/packages/card
      - type: bind
        source: ./packages/command-box
        target: /usr/src/app/packages/command-box
      - type: bind
        source: ./packages/css-utils
        target: /usr/src/app/packages/css-utils
      - type: bind
        source: ./packages/breakpoints
        target: /usr/src/app/packages/breakpoints
      - type: bind
        source: ./packages/design-patterns
        target: /usr/src/app/packages/design-patterns
      - type: bind
        source: ./packages/textarea
        target: /usr/src/app/packages/textarea
      - type: bind
        source: ./packages/sidebar
        target: /usr/src/app/packages/sidebar
      - type: bind
        source: ./packages/collapsible
        target: /usr/src/app/packages/collapsible
      - type: bind
        source: ./packages/date
        target: /usr/src/app/packages/date
      - type: bind
        source: ./packages/locale
        target: /usr/src/app/packages/locale
      - type: bind
        source: ./packages/modal
        target: /usr/src/app/packages/modal
      - type: bind
        source: ./packages/badge
        target: /usr/src/app/packages/badge
      - type: bind
        source: ./packages/input
        target: /usr/src/app/packages/input
      - type: bind
        source: ./packages/loading
        target: /usr/src/app/packages/loading
      - type: bind
        source: ./packages/title
        target: /usr/src/app/packages/title
      - type: bind
        source: ./packages/scrollspy-anchors
        target: /usr/src/app/packages/scrollspy-anchors
      - type: bind
        source: ./packages/list
        target: /usr/src/app/packages/list
      - type: bind
        source: ./packages/table
        target: /usr/src/app/packages/table
      - type: bind
        source: ./packages/pagination
        target: /usr/src/app/packages/pagination
      - type: bind
        source: ./packages/search-modal
        target: /usr/src/app/packages/search-modal
      - type: bind
        source: ./packages/keyboard-key
        target: /usr/src/app/packages/keyboard-key
      - type: bind
        source: ./packages/popover
        target: /usr/src/app/packages/popover
      - type: bind
        source: ./packages/state-management
        target: /usr/src/app/packages/state-management
      - type: bind
        source: ./dev-packages/dynatic-css-vite-plugin
        target: /usr/src/app/dev-packages/dynatic-css-vite-plugin
      - type: bind
        source: ./dev-packages/dynatic-css-typescript-parser
        target: /usr/src/app/dev-packages/dynatic-css-typescript-parser
      - type: bind
        source: ./dev-packages/typescript-file-manipulation
        target: /usr/src/app/dev-packages/typescript-file-manipulation
      - type: bind
        source: ./dev-packages/recursive-import-iteration
        target: /usr/src/app/dev-packages/recursive-import-iteration
      - type: bind
        source: ./packages/import-parser
        target: /usr/src/app/packages/import-parser
      - type: bind
        source: ./packages/export-parser
        target: /usr/src/app/packages/export-parser
      - type: bind
        source: ./apps/js-to-yaml/vite.config.ts
        target: /usr/src/app/vite.config.ts
    networks:
      - frontend
    ports:
      - 5173:5173
    depends_on: 
  vite-client:
    image: vite-client:latest
    environment:
      - NODE_ENV=development
    build:
      dockerfile: ./docker/Dockerfile.vite-client
      context: ./
      target: development
    profiles:
      - vite-client
      - vite-client-e2e
    restart: unless-stopped
    volumes:
      - type: bind
        source: ./apps/vite-client/
        target: /usr/src/app/
      - type: volume
        target: /usr/src/app/node_modules
      - type: bind
        source: ./packages/micro-frontends
        target: /usr/src/app/packages/micro-frontends
      - type: bind
        source: ./packages/table
        target: /usr/src/app/packages/table
      - type: bind
        source: ./packages/pagination
        target: /usr/src/app/packages/pagination
      - type: bind
        source: ./packages/button
        target: /usr/src/app/packages/button
      - type: bind
        source: ./packages/dynatic-css
        target: /usr/src/app/packages/dynatic-css
      - type: bind
        source: ./packages/dynatic-css-utils
        target: /usr/src/app/packages/dynatic-css-utils
      - type: bind
        source: ./packages/string-utils
        target: /usr/src/app/packages/string-utils
      - type: bind
        source: ./packages/regex
        target: /usr/src/app/packages/regex
      - type: bind
        source: ./packages/tooltip
        target: /usr/src/app/packages/tooltip
      - type: bind
        source: ./packages/animation-container
        target: /usr/src/app/packages/animation-container
      - type: bind
        source: ./packages/utils
        target: /usr/src/app/packages/utils
      - type: bind
        source: ./packages/is-dev
        target: /usr/src/app/packages/is-dev
      - type: bind
        source: ./packages/array-utils
        target: /usr/src/app/packages/array-utils
      - type: bind
        source: ./packages/object-utils
        target: /usr/src/app/packages/object-utils
      - type: bind
        source: ./packages/parse-typescript
        target: /usr/src/app/packages/parse-typescript
      - type: bind
        source: ./packages/randomizer
        target: /usr/src/app/packages/randomizer
      - type: bind
        source: ./packages/edge-intersection
        target: /usr/src/app/packages/edge-intersection
      - type: bind
        source: ./packages/element-utils
        target: /usr/src/app/packages/element-utils
      - type: bind
        source: ./packages/calculate-relative-position
        target: /usr/src/app/packages/calculate-relative-position
      - type: bind
        source: ./packages/router
        target: /usr/src/app/packages/router
      - type: bind
        source: ./packages/url
        target: /usr/src/app/packages/url
      - type: bind
        source: ./packages/environment
        target: /usr/src/app/packages/environment
      - type: bind
        source: ./packages/hooks
        target: /usr/src/app/packages/hooks
      - type: bind
        source: ./packages/request
        target: /usr/src/app/packages/request
      - type: bind
        source: ./packages/collapsible
        target: /usr/src/app/packages/collapsible
      - type: bind
        source: ./packages/copy-to-clipboard
        target: /usr/src/app/packages/copy-to-clipboard
      - type: bind
        source: ./packages/icons
        target: /usr/src/app/packages/icons
      - type: bind
        source: ./packages/mathml
        target: /usr/src/app/packages/mathml
      - type: bind
        source: ./packages/math-parser
        target: /usr/src/app/packages/math-parser
      - type: bind
        source: ./packages/canvas-math-graph
        target: /usr/src/app/packages/canvas-math-graph
      - type: bind
        source: ./packages/cypress
        target: /usr/src/app/packages/cypress
      - type: bind
        source: ./packages/get-fps
        target: /usr/src/app/packages/get-fps
      - type: bind
        source: ./apps/vite-client/vite.config.ts
        target: /usr/src/app/vite.config.ts
    networks:
      - frontend
    ports:
      - 5173:5173
    depends_on: 
  vite-micro:
    image: vite-micro:latest
    environment:
      - NODE_ENV=development
    build:
      dockerfile: ./docker/Dockerfile.vite-micro
      context: ./
      target: development
    profiles:
      - vite-micro
    restart: unless-stopped
    volumes:
      - type: bind
        source: ./apps/vite-micro/
        target: /usr/src/app/
      - type: volume
        target: /usr/src/app/node_modules
      - type: bind
        source: ./packages/micro-frontends
        target: /usr/src/app/packages/micro-frontends
      - type: bind
        source: ./apps/vite-client/vite.config.ts
        target: /usr/src/app/vite.config.ts
    networks:
      - frontend
    ports:
      - 5174:5174
    depends_on: 
  express-backend-postgresql:
    image: postgres:16.2-alpine3.19
    build: 
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    profiles:
      - express-backend-postgresql
      - express-backend
      - vite-client-e2e
    restart: unless-stopped
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - backend
    ports:
      - 5432:5432
    depends_on: 
  vite-client-e2e:
    image: vite-client-e2e:latest
    build:
      dockerfile: ./docker/Dockerfile.vite-client-e2e
      context: ./
      target: development
    environment:
      - NODE_ENV=test
    profiles:
      - vite-client-e2e
    restart: unless-stopped
    volumes: 
    networks:
      - frontend
      - backend
    ports:
      - 8080:8080
    depends_on:
      - vite-client
      - express-backend
volumes:
  pgdata:
    external: false
networks:
  frontend:
    name: frontend
  backend:
    name: backend
