 @keyframes glitchAnimation {
     0% {
         transform: translate(0);
         opacity: 1;
     }

     20% {
         transform: translate(-1px, 1px);
         opacity: 0.8;
     }

     40% {
         transform: translate(1px, -1px);
         opacity: 0.9;
     }

     60% {
         transform: translate(-1px, -1px);
         opacity: 0.85;
     }

     80% {
         transform: translate(1px, 1px);
         opacity: 0.95;
     }

     100% {
         transform: translate(0);
         opacity: 1;
     }
 }