.loader {
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.skeleton {
    /* Safari */
    -webkit-animation: flicker 3s infinite ease-in-out;
    animation: flicker 3s infinite ease-in-out;
}

/* Safari */
@-webkit-keyframes flicker {
    0% {
        opacity: 0.3;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.3;
    }
}


@keyframes flicker {
    0% {
        opacity: 0.6;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.6;
    }
}

.loading-bar {
    animation: progress 3s ease-out infinite;
}

@keyframes progress {
    100% {
      transform: translateX(500%);
    }
}
  