.pagination {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 15px 15px;
    border: none;
    cursor: pointer;
    background-color: #f0f0f0;
  }
  
  .pagination button.active {
    background-color: #007bff;
    color: white;
  }
  
  .pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  .pagination .ellipsis {
    padding: 10px 15px;
    display: flex;
  }