.syntaxHighlighter {
    border: 3px solid rgb(20, 20, 20);
    background-color: rgb(20, 20, 20);
    border-radius: 1em;
    color: white;
    cursor: text;
    padding: 0.5rem;
    /* min-width: fit-content; */
    /* overflow: auto; */
}

.terminalCursor {
    animation: terminalCursorAnimation 2s infinite;
    animation-timing-function: steps(1);
}

@keyframes terminalCursorAnimation {
    50% {
        opacity: 0;
    }
}
