.wheel-of-fortune {
  all: unset;
  clip-path: inset(0 0 0 0 round 50%);
  inset: 0;
  place-content: center start;
  aspect-ratio: 1 / 1;
  container-type: inline-size;
  display: grid;
  position: relative;
  height: var(--wheel-size);
  width: var(--wheel-size);
}

.wheel-of-fortune-arrow {
  height: 25px;
  width: 25px;
  background-color: crimson;
  clip-path: polygon(50% 100%, 100% 0, 0 0);
  content: "";
  position: absolute;
  place-self: start center;
  scale: 1.4;
}

.wheel-of-fortune-wrapper {
  all: unset;
  clip-path: inset(0 0 0 0 round 50%);
  display: grid;
  inset: 0;
  place-content: center start;
  position: absolute;
  rotate: 90deg;
}

.wheel-of-fortune-option {
  align-content: center;
  background: hsl(calc(360deg / var(--items) * calc(var(--idx))), 100%, 75%);
  display: grid;
  font-size: 25px;
  grid-area: 1 / -1;
  padding-left: 5px;
  rotate: calc(360deg / var(--items) * calc(var(--idx)));
  transform-origin: center right;
  user-select: none;
  width: calc(var(--wheel-size) / 2);
  box-sizing: border-box;
}

.wheel-of-fortune-option-multi {
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
  aspect-ratio: 1 / calc(2 * tan(180deg / var(--items)));
}

/* three
        aspect-ratio: 1 / 2;
        clip-path: polygon(-35% -100%, 100% 50%, 0% 145%); 
*/

.wheel-of-fortune-option-two {
  aspect-ratio: 1 / calc(2 * tan(180deg / var(--items)));
  clip-path: none;
}

.wheel-of-fortune-option-single {
  aspect-ratio: 1/1;
  width: var(--wheel-size);
}

.wheel-of-fortune-button {
  z-index: 1000;
  position: absolute;
  left: calc(50% - calc(var(--wheel-size) / 16));
  top: calc(var(--wheel-size) / 2 - calc(var(--wheel-size) / 16));
  border: none;
  border-radius: 100%;
  width: calc(var(--wheel-size) / 8);
  height: calc(var(--wheel-size) / 8);
  text-align: center;
  cursor: pointer;
}