.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* width: 30px;
    height: 24px; */
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
  }
  
  .burger span {
    /* height: 4px; */
    width: 100%;
    /* background-color: #333; */
    border-radius: 2px;
    transition: all 0.3s ease;
    transform-origin: center;
  }
  
  /* Animate to X */
  .burger.open span:nth-child(1) {
    transform: rotate(25deg) translateY(12px);
  }
  
  .burger.open span:nth-child(2) {
    opacity: 0;
  }
  
  .burger.open span:nth-child(3) {
    transform: rotate(-25deg) translateY(-10px);
  }
  