.burger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* width: 30px;
    height: 24px; */
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  z-index: 10;
}

.burger span {
  width: 100%;
  border-radius: 2px;
  transition: all 0.3s ease;
  transform-origin: center;
}

.burger.open span:nth-child(1) {
  transform: rotate(45deg) translateY(calc(var(--line-height) * 2.5))  translateX(6px);
}

.burger.open span:nth-child(2) {
  opacity: 0;
}

.burger.open span:nth-child(3) {
  transform: rotate(-45deg) translateY(calc(var(--line-height) * -2))  translateX(4px);
}