/* TODO: Turn into a generic utility. Its not used here anymore. */

.hidden-scrollbar {
    overflow-x: scroll;
    overflow-y: hidden; /* Hide vertical scrollbar */
    -ms-overflow-style: none; /* Hide scrollbar for Internet Explorer and Edge */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
  }
  
  .hidden-scrollbar::-webkit-scrollbar {
    display: none; /* Hide scrollbar for WebKit browsers */
  }
