name: Search Modal Typecheck
on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
      - reopened
    paths:
      - typescript/packages/search-modal/**
      - typescript/packages/button/**
      - typescript/packages/dynatic-css/**
      - typescript/packages/dynatic-css-utils/**
      - typescript/packages/string-utils/**
      - typescript/packages/regex/**
      - typescript/packages/modal/**
      - typescript/packages/animation-container/**
      - typescript/packages/utils/**
      - typescript/packages/is-dev/**
      - typescript/packages/array-utils/**
      - typescript/packages/object-utils/**
      - typescript/packages/parse-typescript/**
      - typescript/packages/randomizer/**
      - typescript/packages/icons/**
      - typescript/packages/badge/**
      - typescript/packages/input/**
      - typescript/packages/loading/**
      - typescript/packages/keyboard-key/**
jobs:
  Typecheck:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./typescript
    steps:
      - uses: actions/checkout@v4
      - name: Remove postinstall
        run: node ./ci-scripts/removePostInstall.js
      - name: Install dependencies
        run: npm i
      - name: Run typecheck
        run: cd packages/search-modal && npm run typecheck
